{% extends 'base.html.twig' %}

{% block title %}Hello ListeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper"> </div>
<div>
     <h1>Liste des Thèses  tendances </h1>
      <h2>Titre de la these 01</h2>
      <p>Phrase d'accroche </p>
      <p> contact mail : hhh@ggg.com</p>
      </div>
<div>
      <h2>Titre de la these 02 </h2>
      <p>Phrase d'accroche </p>
      <p> contact mail : cccc@aaaa.com</p>
</div>

<div>
      <h3>Titre de la these 02 </h3>
      <p>Phrase d'accroche </p>
      <p> contact mail : aaaaa@bbbb.com</p>
    
</div>
{% endblock %}
